*{
margin: 0;
padding: 0;

list-style: none;
    cursor: pointer;
}

.NavBar{
    height: 100px;
    background-color: slategray;
    color: white;
    display: flex;
    justify-content: space-around;
align-items: center;

}

ul{
     display: flex;
    /* justify-content: space-around; */
}

li{
    margin: 10px;
}

li:hover{
    color:black;
}
.container{
    display: flex;
    /* background-color: beige; */
    height: 630px;
    align-items: center;
    justify-content: space-around;
    
}
.text{
     height: 250px;
    width: 450px;
}
.imgs{
    height: 350px;
    width: 350px;
    background-color: gray;
    border-radius: 20px;
}

.text h1 , button{
    margin: 20px 0;
}

button{
    /* border: 1px solid black;  */
    height: 35px;
    width: 80px;
        background-color: black;
        color: white;
        border-radius: 10px;
        padding: px;
}

button:hover{
    color: black;
    background-color: white;
    border: 1px solid black; 

}