*{
    margin: 0;
    padding: 0;
}
body{
background-color: grey;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.profile{
    height: 45%;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.618);
    border-radius: 20px;
    padding: 20px;
    
}

.icon{
    height: 50px;
    width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 10%;
}

h1 , p{
margin-top: 13%;

}

.img{
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 100px;
    margin-left: 30%;
}

i {
  font-size: 30px;  /* increase size */
  
  
}

/* i:hover{
    border-radius: 10px;
    border: 2px solid black;
} */